.footer {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 9%;
  padding-bottom: 2.5%;
}

@media screen and (max-width: 400px) {
  .footer {
    line-height: 14px;
    margin-top: 65px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding-bottom: 25px;
    margin-bottom: 0;
  }
}
