.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 264px;
  max-height: 68px;
  margin-top: 34px;
}

.header__title {
  font-family: "Inter", sans-serif;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  font-size: 96px;
  margin-top: 9.16%;
  margin-bottom: 3.2%;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
}

.header__subtitle {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  text-align: center;
}

.header__image {
  width: 100%;
  margin-top: 6.4%;
}

@media screen and (max-width: 768px) {
  .header__title {
    line-height: 79px;
    max-width: 530px;
    font-size: 75px;
    margin-top: 9%;
    margin-bottom: 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .header__image {
    width: 100%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo-item {
    max-width: 188px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    margin-top: 40px;
  }
}
